.body-dark {
  background-color: #50555c;
  color: rgb(250, 250, 250);
}

.body-light {
  background-color: rgb(221, 231, 238);
  color: #2d8fd3;
}

.body-light .container-lg {
  background-color: rgb(221, 231, 238);
  height: 100%;
}